* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {

    margin:0;
    width:100%;
    background-color: #ffd799;

}

header {

    padding: 1em;
    background-color: #000000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

p {
    padding: 0 25% 0 25%;
    font-size: large;
    font-weight: bold;
}

ul {
    padding: 0 25% 0 25%;
    font-size: large;
    font-weight: bold;

}

h1 {

    width:99vh;
    background-color: black;
    color: #ffd799 ;
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
    display: inline;
}

header nav {

    float: right;
    margin: 10px;
    Display:inline;

}

header nav ul li {

    display: inline;
    margin: 0 0 0 0;
    background-color: #000000;
    color: #ffd799;
    padding: 1em;

}


header nav ul {

    display: inline;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 1em;
  }

  
a {

    font-size: large;
    width:100%;
    color: #ffd799 ;
    margin: 0 0 0 0;
    padding: 1em;
    display: inline;
    text-decoration: none;

}

header nav ul li :hover {

    background-color:#ffd799;
    color: #000000 ;
    margin: 0 0 0 0;
    padding: 1em;
}

.avatar {

    display:block;
    margin-left:auto;
    margin-right:auto;
    width:350px;
    height:350px;
    border-radius:50%;
    border: 18px solid #000000;
}

.hero {

    padding:60px;
    height:600px;
    background-size: cover;
    position:relative;
    height: 100vh;

}

h2 {
    
    padding:20px;
    text-align:center;
    
}

h3 {
    
    text-align:center;
    padding:20px;
    margin:10px;
    background-color: #000000;
    color: #ffd799;
    width: 99%;
    border-radius: 25px;
    height:max-content;
    flex-basis: auto;
    align-self: flex-start;
}

.Content {
  
    padding-right:20px;
    padding-left:20px;
    margin: 0 0 0 0;
    flex-basis: auto;
    flex: 2;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.Project-1 {
    background-image: url(./images/Run-Buddy.png);
    background-repeat: no-repeat;
    background-size:cover;
    flex-basis: auto;
    flex: 1;
    flex-grow: 3;
    margin: 0 10px 0 0;
}

.sub-project {
    flex-basis: auto;
    flex-grow: 1;
    margin: 0 10px 0 0;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;

}

.Project-2 {
    background-image: url("https://github.com/RyanOfEastview/group4-music/raw/main/screenshots/Gp4MusicPreviewMobile1.jpg");
    flex-basis: auto;
    flex-grow: 1;
    margin: 0 0 10px 0;
}

.Project-3 {
    background-image: url(./images/Run-Buddy.png);
    flex-basis: auto;
    flex-grow: 1;
    margin: 0 0 0 0;
}

.Project-1:hover {

    border: #000000 solid;
}

.Project-2:hover {

    border: #000000 solid;
}

.Project-3:hover {

    border: #000000 solid;
}

#Work {

    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:80vh;
}

#About {

    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:80vh;
}

#Contact {

    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:80vh;
}

.project-link {
font-style: normal;
display: block;
height: 100%;
width: 100%;

}

h4 {
    background-color: #000000;
    font-size: 5em;
}
